
<%- include('header') %>

<body>


<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/listings">DigiHouse Corp</a></li>
        <li><a href="/listings/login">Login </a></li>
        <li><a href="listings/register">Sign up</a></li>
      </ul>
    </div>
  </nav>

    <div class="container center-align"> 
            <div class="col 14 m6 s12">
                <h4> <%= listing.name %> (<%= listing.category %>)  </h4>
                <p>Location: <%= listing.address %></p>
                <p>  Price: P<%= listing.price %> </p>
                <p> <%= listing.description %></p>
                <p>Date Posted: <%= listing.date %></p>
            
                <img src="https://images.unsplash.com/photo-1560448204-e02f11c3d0e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="" class="card responsive-img" #img> 
                <img src="https://images.unsplash.com/photo-1592595896551-12b371d546d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80" alt="" class="card responsive-img" > 
    
                <div id="map" class="container center-align"></div>

               <br>
               <button class="btn btn-success">     <a href="/listings">View All Active Listings</a> </button>
               <button class="btn btn-success">  <a href="/listings/<%= listing._id %>/updateListing">Update</a> </button>
    <br>
    <br>
    <br>

    <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
        <button class="btn btn-success">Delete</button>
    </form>

    <form action="" method="">

                <label for="txta1">Reviews</label>
                <input type="text" name="reviews" id="reviews" placeholder="">

                <button class="btn btn-success"> Add Review</button>
    </form>
    </div>
</div>

<br>

<script>
    function initMap() {
        var options = {
            zoom: 15, 
            center: {lat: 14.5409, lng: 121.0503}
        }
        var map = new 
        google.maps.Map(document.getElementById('map'), options);
    

    addMarker({
    coords: {lat: 14.5409, lng: 121.0503},
    iconImage: "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png"
    });
    addMarker({coords: {lat: 14.5464, lng: 121.0378}});

    function addMarker(props){
        var marker = new google.maps.Marker({
            position: props.coords,
            map: map,
        });

        if(props.iconImage){
            marker.setIcon(props.iconImage);
        }
    }
}

</script>

<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoVw5X3OodF23ulZ_GZhfubBTOwksecg4&callback=initMap"> </script>
</body>
</html>